@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #171717;
}
.container {
	display: flex;
	flex-direction: row;
	
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.audioImage {
	background-image: url("/images/audio.png");
	background-repeat: no-repeat;
	width: 305px;
	height: 620px;
	background-size: contain;
	margin-right: 0;
}
.player-module {
	width: 550px;
	height: 620px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #1F1E1E;
}
.audioCover {
	border: 1px solid white;
	width: 400px;
	height: 400px;
	margin: 30px;
}
.search-audio {
	display: flex;
	justify-content: center;
	align-items: flex-end;	
	gap: 5px;
}
.songs-container input {
	width: 200px;
	height: 20px;
	padding: 2px;
	margin-left: 30px;
	margin-top: 10px;
	border: 1px solid black;
	border-radius: 5px;
}
.songs-container input:focus {
	outline: none;
}
.songs-container .search-btn {
	height: 26px;
	width: 30px;
	background-color: transparent;
	border: 1.5px solid gray;
	border-radius: 5px;
	color: gray;
	transition: all 0.3s ease-in-out;
}
.songs-container .search-btn:hover {
	color: white;
	border: 1.5px solid white;
}
.songs-list {
	width: 310px;
	height: 560px;
	margin-top: 15px;
	overflow-x: auto; 
}

.songs-list::-webkit-scrollbar {
	width: 6px;
}
.songs-list::-weblit-scrollbar-track {
	background: #171717;
}
.songs-list::-webkit-scrollbar-thumb {
	background-color: #3B3A3A;
	border-radius: 10px;
}

.all-songs-table {
    width: 290px;           /* full width of container */
    height: 50px;
    border-collapse: collapse;
    border-spacing: 0;
}
td {
	padding: 0;
}

.song-btn {
	width: 290px;
	height: 100%;
	display: flex;
	flex-direction: row;
	padding: 8px;
	gap: 8px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px;
	align-items: flex-end;
	justify-content: flex-start;
	overflow: hidden;
	background-color: #171717;
	color: white;
	border: none;
	transition: color 0.3s ease-in-out;
}

.song-btn:hover {
	color: lightgray;
}
.song-btnV2 {
	color: #079C3E;
}

.song-btn div:first-child {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 5px;
	margin-left: 4px;
	pointer-events: none;
}
.song-btn div:last-child {
	padding: 10px 5px;
	white-space: nowrap;
	width: 210px;
	overflow: hidden;
	text-align: left;
	pointer-events: none;
}
