@charset "UTF-8";

.navContainer {
	background-color: white;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	width: 200px;
	height: 80px;
	background-image: url("/images/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.profile {
	font-size: 30px;
	position: relative;
	left: 80%;
	display: flex;
	align-items: flex-end;
	gap: 25px;
	height: 60px;
}
.profile span {
	cursor: pointer;
	color: gray;
	transition: color 0.3s ease-in-out;
}
.profile span:hover {
	color: black;
}